<div class="header d-flex justify-content-between align-items-center">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    firstname{{data.firstname}}
    lastname{{data.lastname}}
    email{{data.email}}
    phone{{data.phone}}

</div>

<div mat-dialog-actions [align]="'end'">
    <button mar-raised-button [mat-dialog-close]="false">{{data.cancletext}}</button>
    <button mar-raised-button color="primary" [mat-dialog-close]="true">{{data.conformtext}}</button>
</div>